<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="~/Content/toolbar.css" type="text/css" rel="stylesheet" />
    @Html.DevExpress().GetStyleSheets( 
    new StyleSheet { ExtensionType = ExtensionType.DocumentViewer }
)
@Html.DevExpress().GetScripts(
    new Script { ExtensionType = ExtensionType.TextBox },
    new Script { ExtensionType = ExtensionType.DocumentViewer }
)
</head>

<body>
    @RenderBody()
</body>
</html>